#header p
{
    text-transform: capitalize;
}
body
{
    text-transform: uppercase;
}
body > p
{
    text-transform: none;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}