.static-width
{
    width: 300px;
    height: 300px;
    background: url('../img/download.png') no-repeat top center;
    background-color: #606060;
    background-size: 200px;
}


a
{
    padding: 10px;
    margin: 10px;
    background-color: #ccc;
    border: 1px solid #aaa;
    color: black;
    text-decoration: none;
    display: inline-block;
}

a:hover
{
    color: darkmagenta;
    text-decoration: underline;
    background-color: aquamarine;
}
